<html>
<head>
  <% include ../includes/_head %>
</head>
<body>
  <header>
    <% include ../includes/header %>
  </header>
  <main>
    <h1>Todo</h1>
    <form id='item-form' type="add" class="item-form item-form--add-item">
      <input type="text" id="item-form__content" required />
      <button class="item-form__button"></button>
      <a class="item-form__cancel">cancel</button>
    </form>

    <ul class="list">
    </ul>
  </main>

  <script id="template__list-item" type="text/x-handlebars-template">
        <li class="list__item" id="list__item-{{ id }}" item-id={{ id }} is-complete="{{ isComplete }}">
          <label>
            <input type="checkbox" {{#if isComplete}} checked {{/if}} item-id={{ id }}  />
            <div class="list__item__content">
              {{ content }}
            </div>
          </label>
          <div class="list__item__settings-icon">icon</div>
          <div class="settings-widget" data-id="{{ id }}">
            <a class="settings-widget__delete">Delete</a>
            <a class="settings-widget__edit">Edit</a>
          </div>
        </li>
  </script>
  
  <script>
    window.LIST = <%- JSON.stringify(items) %>
  </script>
  <script src="scripts/handlebars-4.0.5.min.js"></script>
  <script src="/scripts/jquery-v3.1.0.min.js"></script>
  <script src="/scripts/main.js"></script>
</body>
</html>